
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Gilroy"; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

